<a href="https://colab.research.google.com/github/aperfilyeva/anna_data690/blob/main/assignment_05/Assignment_5_Part_5_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 5 Part 5 Pandas

 - Anna Perfilyeva
 - 3/4/2022

In [2]:
import pandas as pd
import numpy as np

## **Pandas Series**

Analyzing "The Group of Seven": Canada, France, Germany, Italy, Japan, UK, US

In [3]:
# In millions
g7_pop = pd.Series([35.467, 63.591, 80.940, 60.665, 127.061, 64.511, 318.523])

In [4]:
g7_pop

0     35.467
1     63.591
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [5]:
g7_pop.name = 'G7 Population in millions'

In [6]:
g7_pop

0     35.467
1     63.591
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [7]:
g7_pop.dtype

dtype('float64')

In [8]:
g7_pop.values

array([ 35.467,  63.591,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [9]:
type(g7_pop.values)

numpy.ndarray

In [10]:
g7_pop

0     35.467
1     63.591
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [11]:
g7_pop[0]

35.467

In [12]:
g7_pop[1]

63.591

In [14]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

in series, unlike in lists, index can be defined

In [16]:
g7_pop.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [17]:
g7_pop

Canada             35.467
France             63.591
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

We can say that series look like "ordered dictionaries." We can create series from dictionaries:

In [18]:
pd.Series({
    'Canada': 35.467,
    'France': 63.951,
    'Germany': 80.94,
    'Italy': 60.665,
    'Japan': 127.061,
    'United Kingdom': 64.511,
    'United States': 318.523
}, name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [19]:
pd.Series(
    [35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523],
    index=['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom','United States'],
name='G7 population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 population in millions, dtype: float64

Series can also be created out of other series by specifying indexes:

In [20]:
pd.Series(g7_pop, index=['France', 'Germany', 'Italy', 'Spain'])

France     63.591
Germany    80.940
Italy      60.665
Spain         NaN
Name: G7 Population in millions, dtype: float64

### **Indexing**

Indexing works similarly to lists and dictionaries, you can  use the index of  element you're looking for:

In [26]:
g7_pop

Canada             35.467
France             63.591
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [27]:
g7_pop['Canada']

35.467

In [28]:
g7_pop['Japan']

127.061

Numeric positions can be used with iloc

In [29]:
g7_pop.iloc[0]

35.467

In [30]:
g7_pop.iloc[-1]

318.523

Selecting multiple elements at once :

In [31]:
g7_pop[['Italy', 'France']]

Italy     60.665
France    63.591
Name: G7 Population in millions, dtype: float64

In [32]:
g7_pop.iloc[[0,1]]

Canada    35.467
France    63.591
Name: G7 Population in millions, dtype: float64

Slicing also works, but the upper limit is also included:

In [33]:
g7_pop['Canada':'Italy']

Canada     35.467
France     63.591
Germany    80.940
Italy      60.665
Name: G7 Population in millions, dtype: float64

## Conditional selection (boolean arrays)

The same boolean array techniques applied to numpy arrays can be used for Pandas Series:

In [34]:
g7_pop

Canada             35.467
France             63.591
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [35]:
g7_pop > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

In [36]:
g7_pop[g7_pop > 70]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [40]:
g7_pop.mean()

107.25114285714287

In [41]:
g7_pop[g7_pop > g7_pop.mean()]

Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [42]:
g7_pop.std()

97.27680783624392

In [ ]:
~ not
| or
& and

In [43]:
g7_pop[(g7_pop > g7_pop.mean() - g7_pop.std() / 2) | (g7_pop > g7_pop.mean() + g7_pop.std() / 2)]

France             63.591
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

## Operations and methods

In [45]:
g7_pop

Canada             35.467
France             63.591
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [46]:
g7_pop * 1_000_000

Canada             35467000.0
France             63591000.0
Germany            80940000.0
Italy              60665000.0
Japan             127061000.0
United Kingdom     64511000.0
United States     318523000.0
Name: G7 Population in millions, dtype: float64

In [47]:
g7_pop.mean()

107.25114285714287

In [48]:
np.log(g7_pop)

Canada            3.568603
France            4.152472
Germany           4.393708
Italy             4.105367
Japan             4.844667
United Kingdom    4.166836
United States     5.763695
Name: G7 Population in millions, dtype: float64

In [49]:
g7_pop['France':'Italy'].mean()

68.39866666666667

## Boolean arrays

In [55]:
g7_pop

Canada             35.467
France             63.591
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [56]:
g7_pop > 80

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

In [57]:
g7_pop[g7_pop > 80]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [58]:
g7_pop[(g7_pop > 80) | (g7_pop < 40)]

Canada            35.467
Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [59]:
g7_pop[(g7_pop > 80) & (g7_pop < 200)]

Germany     80.940
Japan      127.061
Name: G7 Population in millions, dtype: float64

## Modifying series

In [60]:
g7_pop['Canada'] = 40.5

In [61]:
g7_pop

Canada             40.500
France             63.591
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [62]:
g7_pop.iloc[-1] = 500

In [63]:
g7_pop

Canada             40.500
France             63.591
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     500.000
Name: G7 Population in millions, dtype: float64

In [64]:
g7_pop[g7_pop < 70]

Canada            40.500
France            63.591
Italy             60.665
United Kingdom    64.511
Name: G7 Population in millions, dtype: float64

In [65]:
g7_pop[g7_pop < 70] = 99.99

In [66]:
g7_pop

Canada             99.990
France             99.990
Germany            80.940
Italy              99.990
Japan             127.061
United Kingdom     99.990
United States     500.000
Name: G7 Population in millions, dtype: float64