<a href="https://colab.research.google.com/github/aperfilyeva/anna_data690/blob/main/assignment_03/Homework_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 3

 - Name: Anna Perfilyeva
 - Date: 02/17/2022

### 1. Create a 10 by 10 matrix of random integers

In [2]:
import random;

0

In [3]:
y=random.randint(0,9)

In [31]:
for n in range (10): #repeats each row 10 times
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       print(y, end=" ") #prints one character with space at the end
    print(end=" \n")  #starts a new row after each 10 char

4 7 3 7 0 7 0 8 1 6
9 9 4 1 2 8 6 4 3 2
9 4 3 9 3 9 9 0 4 1
8 0 5 3 2 8 4 5 9 3
6 8 3 7 4 0 1 8 9 3
0 1 5 3 0 7 2 7 0 9
5 9 8 9 2 7 2 7 2 0
5 1 9 8 9 3 7 0 2 6
8 9 2 1 7 3 5 7 6 7
8 1 0 8 5 3 0 9 4 4

### 2. If a number is odd, print @ instead

In [39]:
for n in range (10): #repeats each row 10 times
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       if(y % 2) ==0:
           print(y, end=" ") #prints one character with space at the end
       else:
           print("@", end=" ")
    print(end=" \n")

@ 0 8 @ @ 2 8 @ @ @
2 6 2 @ @ 8 4 4 @ @
0 @ @ @ @ @ 6 @ @ 6
2 @ @ @ @ @ 2 6 4 @
4 8 @ @ 8 @ 2 4 @ @
8 8 @ @ 0 6 @ @ @ @
@ 4 6 @ @ 8 @ 4 @ 2
4 @ @ 0 @ 8 @ 8 2 6
4 @ 0 @ @ @ 0 8 @ 6
8 @ @ @ 6 0 0 @ @ 6

### 3. Calculate and print the total of each row

In [50]:
sum=0
for n in range (10): #repeats each row 10 times
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       sum=sum+ y
       print(y,end=" ") #prints one character with space at the end
    print( "*",sum,end=" \n")  #starts a new row after each 10 char
    sum=0                     #resets sum to 0 before the next loop

3 9 8 7 4 6 2 0 9 3 * 51
0 0 1 9 0 3 1 0 3 0 * 17
6 5 3 0 9 7 1 6 8 0 * 45
4 6 4 6 0 8 1 9 2 3 * 43
7 2 2 7 0 0 4 8 0 1 * 31
9 4 0 6 2 9 3 0 4 1 * 38
5 6 6 5 5 9 1 9 0 7 * 53
4 2 8 6 9 7 0 2 1 0 * 39
0 4 3 8 7 6 9 9 9 0 * 55
8 7 1 9 7 2 0 7 7 8 * 56

### 4. Surround the matrix with asterisks

In [80]:
for i in range(23):
  print("*",end="")
print("")

for n in range (10): #repeats each row 10 times
    print("* ", end="")
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       print(y, end=" ") #prints one character with space at the end
    print(end="* \n")  #starts a new row after each 10 char
#print("*")

for i in range(23):
  print("*",end="")
print("")

***********************
* 9 6 3 3 6 0 0 2 0 8 *
* 0 2 9 5 2 0 9 4 7 3 *
* 7 0 9 7 5 2 6 3 3 3 *
* 0 6 7 0 1 6 0 4 9 1 *
* 0 4 6 5 2 7 1 5 7 2 *
* 0 4 2 1 9 6 6 4 8 8 *
* 1 4 4 4 7 8 8 4 6 4 *
* 0 8 0 4 1 5 6 0 9 3 *
* 6 9 0 2 4 8 2 4 9 6 *
* 5 8 2 3 0 2 3 6 0 4 *
***********************

### 5. Add Sums by Column and Row

In [123]:


sum=0
sum1=[0]*10    #start a list for column sums

for n in range (10): #recreates each row 10 times
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       sum=sum+y
       sum1[i]=sum1[i] + y
       print(y, end="  ") #prints one character with space at the end
    print("*", sum,end=" \n")  #starts a new row after each 10 char
 #   print(sum1[n])
    sum=0
 #   sum1=0

for i in range(10):
  print("*",end="  ")
print("")

for i in range(10):                # loop to print sum of each column
     print(sum1[i], end=" ")

3  0  8  7  3  3  1  9  7  9  * 50
7  3  4  4  1  2  0  1  9  2  * 33
1  1  9  0  0  4  8  7  3  3  * 36
3  4  4  0  0  8  4  5  9  0  * 37
4  5  6  9  5  1  9  6  3  3  * 51
0  8  5  9  0  1  6  0  2  5  * 36
6  7  3  4  8  8  4  3  9  5  * 57
8  4  6  5  3  2  1  1  6  0  * 36
3  1  5  4  3  9  2  1  7  3  * 38
6  2  2  2  5  4  9  0  6  6  * 42
*  *  *  *  *  *  *  *  *  *
41 35 52 44 28 42 44 33 61 36

In [104]:
sum1=[0]*n

In [105]:
print(sum1)

[]

In [108]:
n=10
sum = 0
row_sum = [0] * n                            # to initialize a list with n elements

for row in range(n):                         # loop for 10 rows in a matrix
    for col in range(n):                     # loop for 10 columns in a matrix
        num = random.randint(0, 9)           # funtion to generate random number
        sum = sum + num                      # to get sum of each row
        row_sum[col] = row_sum[col] + num
        print(num, end= '  ')
    print("*", sum, end=' ')
    sum = 0
    print("")

for a in range(n):                           # loop to print asterisks after matrix 
    print("*", end='  ')
print("")

for b in range(len(row_sum)):                # loop to print sum of each column
    print(row_sum[b], end= ' ')

2  6  9  6  7  4  5  2  3  1  * 45
7  9  8  2  2  1  6  0  5  8  * 48
6  5  8  6  2  6  8  2  8  4  * 55
8  8  0  0  1  3  6  5  9  4  * 44
6  6  8  5  9  4  2  7  3  0  * 50
1  6  1  3  7  6  8  7  7  9  * 55
7  9  4  4  7  8  0  3  7  2  * 51
5  0  0  3  8  7  5  4  0  4  * 36
8  0  5  3  3  1  1  5  0  8  * 34
7  3  1  5  4  2  4  8  3  9  * 46
*  *  *  *  *  *  *  *  *  *
57 52 44 37 50 42 45 43 45 49

In [110]:
sum=0
sum1=[0]*10

type(sum1)

list