<a href="https://colab.research.google.com/github/aperfilyeva/anna_data690/blob/main/assignment_03/Homework_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 3

 - Name: Anna Perfilyeva
 - Date: 02/17/2022

### 1. Create a 10 by 10 matrix of random integers

In [2]:
import random;

0

In [3]:
y=random.randint(0,9)

In [31]:
for n in range (10): #repeats each row 10 times
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       print(y, end=" ") #prints one character with space at the end
    print(end=" \n")  #starts a new row after each 10 char

4 7 3 7 0 7 0 8 1 6
9 9 4 1 2 8 6 4 3 2
9 4 3 9 3 9 9 0 4 1
8 0 5 3 2 8 4 5 9 3
6 8 3 7 4 0 1 8 9 3
0 1 5 3 0 7 2 7 0 9
5 9 8 9 2 7 2 7 2 0
5 1 9 8 9 3 7 0 2 6
8 9 2 1 7 3 5 7 6 7
8 1 0 8 5 3 0 9 4 4

### 2. If a number is odd, print @ instead

In [39]:
for n in range (10): #repeats each row 10 times
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       if(y % 2) ==0:
           print(y, end=" ") #prints one character with space at the end
       else:
           print("@", end=" ")
    print(end=" \n")

@ 0 8 @ @ 2 8 @ @ @
2 6 2 @ @ 8 4 4 @ @
0 @ @ @ @ @ 6 @ @ 6
2 @ @ @ @ @ 2 6 4 @
4 8 @ @ 8 @ 2 4 @ @
8 8 @ @ 0 6 @ @ @ @
@ 4 6 @ @ 8 @ 4 @ 2
4 @ @ 0 @ 8 @ 8 2 6
4 @ 0 @ @ @ 0 8 @ 6
8 @ @ @ 6 0 0 @ @ 6

### 3. Calculate and print the total of each row

In [50]:
sum=0
for n in range (10): #repeats each row 10 times
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       sum=sum+ y
       print(y,end=" ") #prints one character with space at the end
    print( "*",sum,end=" \n")  #starts a new row after each 10 char
    sum=0                     #resets sum to 0 before the next loop

3 9 8 7 4 6 2 0 9 3 * 51
0 0 1 9 0 3 1 0 3 0 * 17
6 5 3 0 9 7 1 6 8 0 * 45
4 6 4 6 0 8 1 9 2 3 * 43
7 2 2 7 0 0 4 8 0 1 * 31
9 4 0 6 2 9 3 0 4 1 * 38
5 6 6 5 5 9 1 9 0 7 * 53
4 2 8 6 9 7 0 2 1 0 * 39
0 4 3 8 7 6 9 9 9 0 * 55
8 7 1 9 7 2 0 7 7 8 * 56

### 4. Surround the matrix with asterisks

In [80]:
for i in range(23):
  print("*",end="")
print("")

for n in range (10): #repeats each row 10 times
    print("* ", end="")
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       print(y, end=" ") #prints one character with space at the end
    print(end="* \n")  #starts a new row after each 10 char
#print("*")

for i in range(23):
  print("*",end="")
print("")

***********************
* 9 6 3 3 6 0 0 2 0 8 *
* 0 2 9 5 2 0 9 4 7 3 *
* 7 0 9 7 5 2 6 3 3 3 *
* 0 6 7 0 1 6 0 4 9 1 *
* 0 4 6 5 2 7 1 5 7 2 *
* 0 4 2 1 9 6 6 4 8 8 *
* 1 4 4 4 7 8 8 4 6 4 *
* 0 8 0 4 1 5 6 0 9 3 *
* 6 9 0 2 4 8 2 4 9 6 *
* 5 8 2 3 0 2 3 6 0 4 *
***********************

### 5. Add Sums by Column and Row

In [96]:
for i in range(23):
  print("*",end="")
print("")

sum=0
sum1=[]

for n in range (10): #repeats each row 10 times
    print("* ", end="")
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       sum=sum+y
       sum1[i]=sum1+y[i]
       print(y, end=" ") #prints one character with space at the end
    print("*", sum,end=" \n")  #starts a new row after each 10 char
    print(sum1[n])
    sum=0
    sum1=0

for i in range(23):
  print("*",end="")
print("")

z[4]

***********************
*

TypeError: ignored