<a href="https://colab.research.google.com/github/aperfilyeva/anna_data690/blob/main/assignment_04/Homework_04_help.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In Class Practice 04/Homework Help

 - Name: Anna Perfilyeva
 - Date: 02/21/22

In [1]:
import pandas as pd

data_url = 'https://raw.githubusercontent.com/DATA-690-SPRING-2022/WANG/main/assignment_04/census_costs.txt'

In [8]:
# df=pd.read_table(data_url, skiprows=1)

df=pd.read_csv(data_url, skiprows=1, sep="\t")

In [9]:
print(df)

   Census Year Total Population     Census Cost Average Cost Per Person
0         1790        3,929,214         $44,377              1.13 cents
1         1800        5,308,483         $66,109              1.24 cents
2         1810        7,239,881        $178,445              2.46 cents
3         1820        9,633,822        $208,526              2.16 cents
4         1830       12,866,020        $378,545              2.94 cents
5         1840       17,069,458        $833,371              4.88 cents
6         1850       23,191,876      $1,423,351              6.14 cents
7         1860       31,443,321      $1,969,377              6.26 cents
8         1870       38,558,371      $3,421,198              8.87 cents
9         1880       50,155,783      $5,790,678             11.54 cents
10        1890       62,979,766     $11,547,127             18.33 cents
11        1900       76,303,387     $11,854,000             15.54 cents
12        1910       91,972,266     $15,968,000             17.07 cents
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

In [4]:
df.head()

                                         Source: https://www.genealogybranches.com/censuscosts.html
Census Year Total Population Census Cost                            Average Cost Per Person
1790        3,929,214        $44,377                                             1.13 cents
1800        5,308,483        $66,109                                             1.24 cents
1810        7,239,881        $178,445                                            2.46 cents
1820        9,633,822        $208,526                                            2.16 cents

In [10]:
df.shape

(23, 4)

In [12]:
df.describe() # descriptive summary statistics

       Census Year Total Population Census Cost Average Cost Per Person
count           23               23          23                      23
unique          23               23          23                      23
top           1790        3,929,214     $44,377              1.13 cents
freq             1                1           1                       1

In [13]:
df.dtypes   #data types

Census Year                object
Total Population           object
Census Cost                object
Average Cost Per Person    object
dtype: object

In [15]:
x=10000
print(x)

10000

In [27]:
def cleanse_year(year_str):
    if "*" in year_str:
         year= year_str.replace("*","")
    else:
          year=year_str
    return int(year)

In [30]:
cleanse_year("2010*")
print(type(cleanse_year("2010*")))

<class 'int'>

In [29]:
df["year_cleansed"]=df["Census Year"].apply(cleanse_year)

df

SyntaxError: ignored

In [24]:
def cleanse_pop(pop_str):
  if "," in pop_str:
       pop=pop_str.replace(",","")
  else:
          pop=pop_str
  return int(pop)

In [31]:
df["pop_cleansed"]=df["Total Population"].apply(cleanse_pop)

df

   Census Year Total Population  ... Average Cost Per Person pop_cleansed
0         1790        3,929,214  ...              1.13 cents      3929214
1         1800        5,308,483  ...              1.24 cents      5308483
2         1810        7,239,881  ...              2.46 cents      7239881
3         1820        9,633,822  ...              2.16 cents      9633822
4         1830       12,866,020  ...              2.94 cents     12866020
5         1840       17,069,458  ...              4.88 cents     17069458
6         1850       23,191,876  ...              6.14 cents     23191876
7         1860       31,443,321  ...              6.26 cents     31443321
8         1870       38,558,371  ...              8.87 cents     38558371
9         1880       50,155,783  ...             11.54 cents     50155783
10        1890       62,979,766  ...             18.33 cents     62979766
11        1900       76,303,387  ...             15.54 cents     76303387
12        1910       91,972,266  ...             17.07 cents     91972266
13        1920      105,710,620  ...             23.76 cents    105710620
14        1930      122,775,046  ...             32.71 cents    122775046
15        1940      131,669,275  ...             51.29 cents    131669275
16        1950      151,325,798  ...             60.44 cents    151325798
17        1960      179,323,175  ...             71.34 cents    179323175
18        1970      203,302,031  ...                   $1.22    203302031
19        1980      226,542,199  ...                   $4.76    226542199
20        1990      248,718,301  ...                  $10.02    248718301
21        2000      281,421,906  ...                  $15.99    281421906
22       2010*      308,745,538  ...                  $42.11    308745538

[23 rows x 5 columns]